#mainBody {
	text-align: center;
	display: inline-block;
}

/*.conContent {
	width : 80%;
	position: center;	
}*/

#mainBody p{
	width: 100%;
	margin-top: 0.5em;
	padding:0.5em;
}

/*#mainBody .grid-col-1of3 {
	text-align: center;
}*/

.placeHolder {
	width: 100%;
}