/* 

	Declare font-family for website.

*/

@font-face {
	font-family: 'Chaplin';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Chaplin.eot');
	src: url('../fonts/Chaplin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Chaplin-webfont.woff2') format('woff2'),
		url('../fonts/Chaplin-webfont.woff') format('woff'),
		url('../fonts/Chaplin.ttf') format('truetype'); 

}


@font-face {
	font-family: 'Qarmic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Qarmic_sans_Abridged-webfont.eot');
	src: url('../fonts/Quarmic_sans_Abridged.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Qarmic_sans_abridged-webfont.woff2') format('woff2'),
		url('../fonts/Qarmic_sans_Abridged-webfont.woff') format('woff'),
		url('../fonts/Qarmic_sans_Abridged-webfont.ttf') format('truetype'); 

}

@font-face {
	font-family: 'Qarmic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Qarmic_sans_Abridged-webfont.eot');
	src: url('../fonts/Quarmic_sans_Abridged.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Qarmic_sans_abridged-webfont.woff2') format('woff2'),
		url('../fonts/Qarmic_sans_Abridged-webfont.woff') format('woff'),
		url('../fonts/Qarmic_sans_Abridged-webfont.ttf') format('truetype'); 

}

@font-face {
    font-family: 'mark_my_wordsregular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/mark_my_words.eot');
	src: url('../fonts/mark_my_words.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/mark_my_words-webfont.woff2') format('woff2'),
         url('../fonts/mark_my_words-webfont.woff') format('woff'),
         url('../fonts/mark_my_words.ttf') format('truetype');
}

@font-face {
    font-family: 'dosislight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: 'dosismedium';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Dosis-Medium.ttf');
}

/*
@font-face {
	font-family: 'Aaargh';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Aaargh-webfont.eot');
	src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aaargh-webfont.woff2') format('woff2'),
		url('../fonts/Aaargh-webfont.woff') format('woff'),
		url('../fonts/Aaargh-webfont.ttf') format('truetype'); 
}
*/

@font-face {
	font-family: 'Cairo';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Cairo/Cairo-Regular.ttf');
}
@font-face {
	font-family: 'Cairo';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Cairo/Cairo-Bold.ttf');
}
@font-face {
	font-family: 'Cairo';
	font-weight: lighter;
	font-style: normal;
	src: url('../fonts/Cairo/Cairo-Light.ttf');
}




/* Google Fonts
@import url('//fonts.googleapis.com/css?family=Architects+Daughter|Athiti|Coiny|Fontdiner+Swanky|Indie+Flower|Jaldi|Kalam|Laila|Raleway|Rancho|Ruda|The+Girl+Next+Door');


@font-face {
	font-family: 'Indie Flower', cursive;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Indie_Flower/IndieFlower.ttf') format('truetype'); 

}
*/




/*	Font Suggestions
@font-face {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Raleway/Raleway.ttf') format('truetype');
}	
@font-face {
	font-family: 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Architects_Daughter/ArchitectsDaughter.ttf') format('truetype');
}	


@font-face {
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Ruda/Ruda-Regular.ttf') format('truetype');
}	

@font-face {
	font-family: 'Kalam', cursive;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Kalam/Kalam-Regular.ttf') format('truetype');
}	
	
@font-face {
	font-family: 'Jaldi', sans-serif;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Jaldi/Jaldi-Regular.ttf') format('truetype');
}	

@font-face {
	font-family: 'Rancho', cursive;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Rancho/Rancho-Regular.ttf') format('truetype');
	
}	

@font-face {
	font-family: 'Athiti', sans-serif;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Athiti/Athiti-Regular.ttf') format('truetype');
}	


@font-face {
	font-family: 'The Girl Next Door', cursive;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/The_Girl_Next_Door.ttf') format('truetype');
}	
	
*/






