@font-face {
	font-family: 'RumRaisin';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/RumRaisin.eot');
    src: url('../fonts/RumRaisin.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/RumRaisin.woff2') format('woff2'),
         url('../fonts/RumRaisin.woff') format('woff'),
         url('../fonts/RumRaisin.ttf') format('truetype');
}

@font-face {
    font-family: 'DosisLight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Dosis-Light.eot');
    src: url('../fonts/Dosis-Light.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Dosis-Light.woff2') format('woff2'),
         url('../fonts/Dosis-Light.woff') format('woff'),
         url('../fonts/Dosis-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'DosisMedium';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Dosis-Medium.eot');
    src: url('../fonts/Dosis-Medium.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Dosis-Medium.woff2') format('woff2'),
         url('../fonts/Dosis-Medium.woff') format('woff'),
         url('../fonts/Dosis-Medium.ttf');
}









