/* 

	Declare font-family for website.

*/

@font-face {
	font-family: 'RumRaisin';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Rum_Raisin/RumRaisin-Regular.ttf') format('truetype'); 
}

@font-face {
	font-family: 'Allan';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Allan/Allan-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'dosislight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: 'dosisregular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'dosismedium';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Dosis-Medium.ttf');
}

@font-face {
	font-family: 'Rancho';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Rancho/Rancho-Regular.ttf');
}








