/*

grids.css

*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
[class*='col-'] {
	float: left;
	padding-right: 1em;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}
*/
[class^='grid-col-'] {
	float: left;
	padding: 0;
}



.grid-col-1of6, .grid-col-5of6, .grid-col-6of6, .grid-col-1of3, .grid-col-2of3, .grid-col-1of4, .grid-col-3of4, .grid-col-4of5 {
	width: 100%;
	padding-bottom: 2rem;
}

/*.grid-col-1of3{
	width: 33.3333%;
}
.grid-col-2of3{
	width: 66.6667%;
}
.grid-col-1of4{
	width: 25%;
}
.grid-col-3of4{
	width: 75%;
}
.grid-col-4of5{
	width: 80%;
}
.grid-col-5of6{
	width: 83.3333%;
}
 
.grid-col-1of5 {
	width: 20%;
}
*/

/*
.grid-col-indexImg{
	width: 100%;
	padding-left: -5rem;
	padding-right: -5rem;
	margin-left: -5rem;
	margin-right: -5rem;
}*/


.grid-row::after {
	content: "";
	display: block;
	clear: both;
}


/* making that navigation boxes are same length 
.grid-col-1of6 > .nav-main-item {
	width: 100%;
}
*/

/* Extra space at top so other elements are not overlapped with navigation bar*/
body {
	padding-top: 3.5rem;
}

/*for screen resizing*/
@media  (max-width: 30rem) {

}	

@media (min-width: 60rem) {
	.grid-col-1of2 {
		width:50%;
	}

	.grid-col-1of4 {
		width: 25%;
		padding-top: 0em;
		margin-bottom: -2.35rem;
	}

	.grid-col-3of4 {
		width: 60%;
		padding-left: 3em;
		/*padding-right: -1rem;*/
		padding-top: 0;
		margin-right: 2rem;
	}

	.grid-col-4of5 {
		width: 80%;
		padding-left: 2rem;
	}

	.grid-col-1of6 {
		width: 16.666%;
	}

	.grid-col-5of6 {
		width: 83.333%;
	}

	.grid-col-1of3 {
		width: 33.333%;
		padding-top: 1.5em;
	}

	.grid-col-2of3 {
		width: 66.666%;
	}

	.grid-col-6of6 {
		width: 100%;
	}

}
