/*

grids.css

*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
[class*='col-'] {
	float: left;
	padding-right: 1em;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}
*/
[class^='grid-col-'] {
	float: left;
	padding:0;
}

.grid-col-1of6 {
	width: 16.666%;
}

.grid-col-5of6 {
	width: 83.333s%;
}

.grid-col-1of3 {
	width: 33.333%;
}
.grid-col-1of4 {
	width:25%;
}
.grid-col-2of3 {
	width: 66.666%;
}

.grid-col-6of6 {
	width: 100%;
}

.grid-col-1of4 {
	width: 25%;
}

.grid-col-3of4 {
	width: 60%;
}

.grid-row::after {
	content: "";
	display: block;
	clear: both;
}


/* making that navigation boxes are same length */
.grid-col-1of6 > .nav-main-item {
	width: 100%;
}


body {
	/*padding-top: 10rem;*/
}



/* 
	
added for reservation

*/

.grid-col-1of2 {
	width:50%;
}
@media  (max-width: 60rem) {
	.grid-col-1of2 {
		width:100%;
	}
}	
