.col {
	margin: 2rem 2rem 0;
	/*margin-top: 2rem;*/
	text-align: left;
}
body {
	/*padding: 0;*/
}
#reservation, #daycare{
	/*margin: 2rem 2% 2rem;*/
	min-height: 45rem;
	/*height: 45em;*/
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(0,0,0,0.05);
}

.buttons {
	position: relative;
	top: auto;
	bottom: 5em;
	left: 5em;
}
.placeHolder{
	width: 12em;
	height: 12em;
	border: 1px solid black;
	background-color: lightgrey;
	position: relative;
	float: right;
	margin-right: 2rem;
	/*margin-left: 30em;*/

}

#footer {
	position: relative;
	float: bottom;
	left: 0;
	/*text-align: center;*/
	padding-top: .5em;
	width: 100%;
	margin-top: 20rem;
}
#footer a {
	text-decoration: none;
	height: 10em;
}
.icons {
	padding-top: 1em;
}
.icon {
	width:2em;
	height: 2em;
	margin:0 .2em 0;
}
ul {
	margin-top: 0;
	padding-left: 0;
}
#footer .grid-col-1of3 {
	text-align: center;
	height: 4em;
	border-left: .1em solid rgba(0,0,0,.06);
	border-right: .1em solid rgba(0,0,0,.06);
}

label {
	font-size: 2rem;
}
input {
	/*display: block;*/
	-webkit-border-radius: 5px;
	background-color: #EDEBFF;
	font-family: Aaargh;
	font-size: 80%;
	padding: 0.2rem 5rem;
}
textarea {
	padding : 0.6rem 5rem;
	-webkit-border-radius: 5px;
}