/* 
	Section codes ------------------
*/

/*grey box around sample code */
section code {
  background-color: #EEE;
  display: block;
}

pre {
	white-space: pre-wrap;
	margin: 2.5em 0 0;
	height: 100%;
}


/* 
	BRAND COMPONENT -------------------
*/

#colorTable { 
	margin: 1.5em 0; /*top right bottom left */
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	font-size:100%;  
}
p a, ul a{
	text-decoration: none;
	color: #14C89A;
}

p a:hover, p a:focus, ul a:hover, ul a:focus {
	text-decoration: underline;
	text-decoration-color: #8D4595;
}

th {
	height: 1em;
	text-align: center;
	padding: 0 0 0.5em;
}

td { /* th=table header cell  td=cell in the table*/
 	height: 4em;
 	text-align: center;
 	vertical-align: bottom;
 	padding: 1em;
 }
label {
	display: block;
	margin: 2rem 2rem 0;
	text-align: left;
	margin-left: 0;
}
input {
	height: 2rem;
}

input, textarea, select {
	-webkit-border-radius: 5px;
	background-color: rgba(120,120,120,.1);
	font-family: 'dosislight';
	font-size: 100%;
	width: 18rem;
	padding-right: 5rem;
	border: none;
	border-radius: 0;
}

input[type=reset] {
	width: 6rem;
}

/* Styling for the navigation button */
.button-nav {
	display: inline-block;
	color: white;
	background-color: rgb(20, 200, 154);
	font-family: dosismedium;
	padding: 0.5em 0.75em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: gray;
}

/* Nav Buttons */

#styleguide .navMain{
	position: relative;
}

.grid-col-6of6test {
	width: 90%;
	background: rgb(20, 200, 154);
	height: 3.5em;
	margin: 0.2em 0 0.2em;
	text-align: center;
}

.grid-col-1of3test {
	width: 29.5%;
	background: rgb(20, 200, 154);
	height: 5em;
	margin: 0.2em 0.1em 0;
	text-align: center;

}









