 

	styleGuide.css 

*/


/* 
	Section codes ------------------
*/

/*line between sections */
section:not([id]) {
  margin: 0 5em;
  padding: 2em 0;
  border-bottom: 0.10em solid gray;
}

/*grey box around sample code */
section code {
  background-color: #EEE;
  display: block;
}



pre {
	white-space: pre-wrap;
}


/* 
	BRAND COMPONENT -------------------
*/

#colorTable { 
	margin: 4em 2em; /*top right bottom left */
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	font-size:100%;  
}
p a, ul a{
	text-decoration: none;
	color: #14C89A;
}

p a:hover, p a:focus, ul a:hover, ul a:focus {
	text-decoration: underline;
	text-decoration-color: #8D4595;
}

th {
	height: 1em;
	text-align: center;
	padding: 0 0 1em;
}

td { /* th=table header cell  td=cell in the table*/
 	height: 4em;
 	text-align: center;
 	vertical-align: bottom;
 	padding: 1em;
 }
label {
	display: block;
	margin: 2rem 2rem 0;
	text-align: left;
	margin-left: 0;
}
input {
	height: 2rem;
}
input, textarea, select {
	
	
	-webkit-border-radius: 5px;
	background-color: rgba(120,120,120,.1);
	font-family: 'Aaargh';
	font-size: 100%;
	width: 18rem;
	padding-right: 5rem;
	border: none;
	border-radius: 0;
}
input[type=reset] {
	width: 6rem;
}
.h1 {
	font-family: 'Allan', serif;
	font-size: 3rem;
}

.h2 {
	font-family: 'Allan', sans-serif;
	font-style: bold;
	font-size: 2.5em;
}

.h3 {
	font-family: 'dosislight', sans-serif;
	font-style: bold;
	font-size: 1.5em;
}

/* OLD NAVIGATION BAR */


.nav-main {
	/*position: fixed;*/
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

/* For Flex box and navigation menu*/
.nav-main-item {
	display: inline-block;
	color: white;
	background-color: rgb(0, 0, 0);
	font-family: Rancho;
	font-size: 1.5rem;
	padding: 0.9rem 0.5rem;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.nav-main-item:hover, .nav-main-item:focus {
	background-color: rgb(20, 200, 154);
}

.nav-logo-test {
	display: inline-block;
	color: white;
	background-color: rgb(0, 0, 0);
	font-family: Chaplin;
	font-size: 1rem;
	padding: 0.9rem 0.5rem;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}


/* Styling for the navigation button */
.button-nav {
	display: inline-block;
	color: white;
	background-color: rgb(20, 200, 154);
	font-family: Qarmic;
	padding: 0.5em 0.75em;
	border-radius: 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: gray;
}

.navMainItem {
	display: inline-block;
	color: black; /*what is this for?*/
	background-color: rgb(250,250,250);
	font-size: 1.2rem;
	font-family: dosislight;
	/*float: right;*/
	padding: 1.25rem 1.5rem;
	margin: auto -0.2rem;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.15s ease-out;
}

.navMainItem:active, .navMainItem:hover, .navMainItem:focus {
	color: white;
	background-color: rgb(20, 200, 154);
}

/*submit/reset buttons*/

.button-submit-reset {
	display: inline-block;
	padding: 0.5em 1em;
	color: white;
	font-family: Qarmic;
	background-color: rgb(20, 200, 154);
	border-radius: 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button-submit-reset:hover, .button-submit-reset:focus {
	background-color: rgb(120, 120, 120);
}





