 

	styleGuide.css 

*/


/* 
	Section codes ------------------
*/

/*line between sections */
section:not([id]) {
  margin: 0 5em;
  padding: 2em 0;
  border-bottom: 0.10em solid gray;
}

/*grey box around sample code */
section code {
  background-color: #EEE;
  display: block;
}



pre {
	white-space: pre-wrap;
}


/* 
	BRAND COMPONENT -------------------
*/

#colorTable { 
	margin: 4em 2em; /*top right bottom left */
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	font-size:100%;  
}

th {
	height: 1em;
	text-align: center;
	padding: 0 0 1em;
}

td { /* th=table header cell  td=cell in the table*/
 	height: 4em;
 	text-align: center;
 	vertical-align: bottom;
 	padding: 1em;
 }

/* OLD NAVIGATION BAR */


.nav-main {
	/*position: fixed;*/
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

/* For Flex box and navigation menu*/
.nav-main-item {
	display: inline-block;
	color: white;
	background-color: rgb(0, 0, 0);
	font-family: Rancho;
	font-size: 1.5rem;
	padding: 0.9rem 0.5rem;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.nav-main-item:hover, .nav-main-item:focus {
	background-color: rgb(20, 200, 154);
}

.nav-logo-test {
	display: inline-block;
	color: white;
	background-color: rgb(0, 0, 0);
	font-family: Chaplin;
	font-size: 1rem;
	padding: 0.9rem 0.5rem;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}


/* Styling for the navigation button */
.button-nav {
	display: inline-block;
	color: white;
	background-color: rgb(20, 200, 154);
	font-family: Qarmic;
	padding: 0.5em 0.75em;
	border-radius: 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: gray;
}




/*submit/reset buttons*/

.button-submit-reset {
	display: inline-block;
	padding: 0.5em 1em;
	color: white;
	font-family: Qarmic;
	background-color: rgb(20, 200, 154);
	border-radius: 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button-submit-reset:hover, .button-submit-reset:focus {
	background-color: rgb(120, 120, 120);
}





